<nav class="navbar navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fab fa-github"></i>search</a>

    <!-- Form goes here -->
    <div class="col-lg-6 offset-md-3 container-fluid">
      <form #searchForm='ngForm' class="form-inline">
        <div class="form-group">
          <input class="form-control mr-sm-2" name="username" [(ngModel)]="newUsername.username" type="text" placeholder="Search" required>

          <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
            <p>Username is required</p>
          </div>
        </div>

        {{newUsername.username}}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

  </div>
</nav>
